# Ignore generated Ghidra projects
riscv64.gpr
riscv64.rep
riscv64.lock
riscv64.lock~
# Ignore imported and extracted binaries
riscv64/kernel/System.map*
riscv64/kernel/vmlinux*
riscv64/kernel/vmlinuz*
riscv64/kernel_mod/igc.ko
riscv64/kernel_mod/igc.log
riscv64/kernel_mod/igc.ko.log
riscv64/system_lib/libc*
riscv64/system_lib/libssl*
riscv64/system_executable/ssh*
# Ignore test results
testResults/*
riscv64/exemplars/logs
# Ignore editor metadata
.vscode/*
# ignore generated wesite files
.hugo_build.lock
resources/_gen/*
node_modules/*
package.json
package-lock.json