# Ignore generated Ghidra projects
riscv64/exemplars.gpr
riscv64/exemplars.rep
# Ignore imported and extracted binaries
riscv64/kernel/System.map*
riscv64/kernel/vmlinux*
riscv64/kernel_mod/igc*
riscv64/system_lib/libc*
riscv64/system_lib/libssl*
riscv64/system_executable/ssh*
